html, body {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1200px;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sans-serif; 
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: bold;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

/* Header */
.main-navigation {
    float: left;
    width: 1200px; 
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 531px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    padding: 17px 75px;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
}

.main-navigation li:nth-child(2) {
    margin-right: 235px;
}

.main-navigation a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #b2b2b2;
}

 /* Index */
.main-title {
    width: 1200px;
    height: 508px;
    margin-bottom: 60px;
    background-image: url(../img/welcome.png), url(../img/separator.png), url(../img/background-index-top.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom, center;
}

.second-title {
    width: 600px;
    margin: auto;
    line-height: 26px;
    text-align: center;
    margin-bottom: 50px;    
}

.second-title h2 {
    font-size: 21px;   
    margin-bottom: 30px;
}

.block-1 {
    height: 256px;
    color: #ffffff;
    background-color: #81b3d2;
}

.features-item-left {
    float: left;
    width: 400px;
    text-align: center;
}

.features-name {
    display: block;
    width: 151px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 25px;
    font-size: 21px;
}

.features-number {
    margin-bottom: 25px;
}

.features-item-left p:last-child {
    display: block;
    margin: 0 50px;
}

.features-item-image-right {
    float: right;
    width: 800px;
    height: 256px;
    background: url(../img/main-img-1.jpg) no-repeat;
    background-size: cover;
}

.block-3 {
    height: 256px;
    color: #ffffff;
    background-color: #81b3d2;
}

.features-item {
    float: left;
    width: 400px;
    text-align: center;
}

.item-hotels {
    position: relative;
    display: block; 
    width: 300px;
    padding: 105px 50px 75px;
}

.item-hotels::before {
    content: "";
    position: absolute;
    width: 72px;
    height: 75px;
    background: url("../img/hotel.png") no-repeat;
    top: 60px;
    left: 164px;
    
}

.item-food {
    position: relative;
    display: block; 
    width: 305px;
    padding: 105px 45px 75px 40px;
}

.item-food::before {
    content: "";
    position: absolute;
    width: 74px;
    height: 70px;
    background: url("../img/food.png") no-repeat;
    top: 60px;
    left: 164px;
    
}

.item-gifts {
    position: relative;
    display: block; 
    width: 300px;
    padding: 105px 50px 75px;
}

.item-gifts::before {
    content: "";
    position: absolute;
    width: 74px;
    height: 76px;
    background: url("../img/gift.png") no-repeat;
    top: 60px;
    left: 164px;
    
}

.features-item-right {
    float: right;
    width: 400px;
    text-align: center;
}

.features-item-right p:last-child {
    display: block;
    margin: 0 40px;
}

.features-item-image-left {
    float: left;
    width: 800px;
    height: 256px;
    background: url(../img/main-img-2.jpg) no-repeat;
    background-size: cover;
}

.block-4 {
    background-color: #eeeeee;
    padding-bottom: 60px;
}

.item-3 {
    width: 300px;
    padding: 0 50px;
}

.item-4 {
    width: 280px;
    padding: 0 60px;
}

.item-5 {
    width: 300px;
    padding: 0 50px;
}

.hotel-order {
    position: relative;
    padding: 50px 380px 0;
    text-align: center;
}

.hotel-order b {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}


.hotel-search {
    display: block;
    width: 290px;
    padding: 32px 140px;
    margin-left: -75px;
    margin-top: 50px;
    margin-bottom: 0;
    color: #ffffff;
    background-color: #766357;
}

/*form {
    display: none;
} */

.hotel-order form {
    position: absolute;
    width: 570px;
    background-color: #ffffff;
    left: 305px;
}

.map {
    height: 590px;
    background: url(../img/map.jpg) no-repeat;
    background-size: cover;
}


/* Hotels */

.filter {
    padding-left: 73px;
    background: url(../img/background-hotels-top.jpg) no-repeat;
    background-size: cover;
    background-position:  0 -380px;
    color: #ffffff;
}

.infra {
    float: left;
    width: 241px;
    margin-top: 28px;
}

.infra ul {
    padding-left: 0;
    list-style: none;
}

.infra-list li{
    padding-bottom: 25px;
}

.hotel-type-select {
    float: left;
    width: 288px;
    margin-top: 28px;
}

.hotel-type-select ul {
    padding-left: 0;
    list-style: none;
}

.hotel-type-list li {
     padding-bottom: 25px;
}

.cost {
    float: right;
    width: 400px;
    margin-top: 28px;
}

.sort {
    margin-left: 73px;
}

.sort-found-title {
    float: left; 
    width: 165px;
}

.sort-type-title {
    float: left;
    margin-top: 25px;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
}

.sort-type-list {
    float: left;
    width: 720px;
    font-size: 0;
    list-style: none;
}

.sort-type-list li {
    display: inline-block;
    vertical-align: middle; 
    margin-top: 25px;
    margin-left: 30px;
    font-size: 12px;
    line-height: 18px;
}

.sort-type-list a {
    color: #b1b1b1;
    text-decoration: none;
    border-bottom: 1px dotted #b1b1b1;
}

.sort-type-list a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sort-type-list a:active {
    color: #000000;
    border-bottom: none;
}

a.active {
    color: #81b3d2;
    border-bottom: none;
}

a.active:hover {
    color: #81b3d2;
    border-bottom: none;
}

a.active:active {
    color: #81b3d2;
    border-bottom: none;
}

.buttons {
    float: right;
    width: 105px;
    margin-top: 25px;
    font-size: 0;
}

.buttons a {
    display: inline-block;
}

.sort-up {
    width: 0;
    height: 0;
    border-bottom: 10px solid #cccccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    margin-right: 10px;
}

.sort-down {
    width: 0;
    height: 0;
    border-top: 10px solid #cccccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sort-up:hover {
    width: 0;
    height: 0;
    border-bottom: 10px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sort-down:hover {
    width: 0;
    height: 0;
    border-top: 10px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; 
}

.sort-up:active {
    width: 0;
    height: 0;
    border-bottom: 10px solid #81b3d2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sort-down:active {
    width: 0;
    height: 0;
    border-top: 10px solid #81b3d2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

a.pushed {
    width: 0;
    height: 0;
    border-top: 10px solid #81b3d2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}


.result {
    border-top: 1px solid #e5e5e5;
}

.result:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.result-img {
    float: left;
    width: 165px;
    margin-left: 73px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.result-hotel {
    float: left;
    width: 778px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.hotel-title {
    margin: 0;
}

.hotel-type-price {
    font-size: 0;
}

.hotel-type-price p {
    display: inline-block;
    margin: 10px 0;
    font-size: 14px;
}

.hotel-type-price p:first-child {
    margin-right: 40px;
}

.hotel-info-book {
    font-size: 0;
}

.hotel-info-book a {
    display: inline-block;
    padding: 4px 17px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.hotel-info-book a:first-child {
    margin-right: 10px;
    background-color: #81b3d2;
}

.hotel-info-book a:last-child {
    background-color: #766357;
}

.hotel-info-book a:first-child:hover {
    background-color: #669ec0;
}

.hotel-info-book a:last-child:hover {
    background-color: #604e43;
}

.hotel-info-book a:first-child:active {
    color: #88b6d1;
    background-color: #669ec0;
}

.hotel-info-book a:last-child:active {
    color: #857871;
    background-color: #604e43;
}

.result-rate {
    float: right;
    width: 111px;
    margin-right: 73px;
    margin-top: 30px;
}

.hotel-star-rate {
    display: block;
    width: 17px;
    height: 21px;
    margin-bottom: 40px;
    text-align: right;
    background: url("../img/sprite.png") no-repeat -40px -52px;
}

.hotel-rate {
    display: block;
    padding: 5px;
    margin: 0;
    text-align: center;
    background-color: #f2f2f2;
}


/* Footer */
.main-footer {
    margin-top: 0;
    margin-top: 0;
    padding-bottom: 36px;
    background-color: rgba( 255, 255, 255, 0.5) transparent;
}

.footer-hashtag {
    float: left;
    width: 400px;
}

.footer-hashtag a {
    display: block;
    padding: 50px 130px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 400px;
    text-align: center;
}

.social-btn {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin: 37px 5px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #81b3d2 url("../img/sprite.png") no-repeat center;
}

.social-btn-tw {
    background-position: -80px 5px;
}

.social-btn-fb {
    background-position: 7px -40px;
}

.social-btn-ytb {
    background-position: -83px -30px;
}

.social-btn-tw:hover {
    background-color: #669ec0;
}

.social-btn-fb:hover {
    background-color: #669ec0;
}

.social-btn-ytb:hover {
    background-color: #669ec0;
}

.footer-copyright {
    float: right;
    width: 400px;
    font-size: 0;
}

.footer-copyright p {
    display: inline-block;
    margin-top: 55px;
    margin-left: 100px;
    font-size: 14px;
    line-height: 26px;
}

.footer-copyright a {
    display: inline-block;
    width: 113px;
    height: 39px;
    margin-top: 45px;
    margin-left: 10px;
    vertical-align: top;
    background: url(../img/htmlacademy-icon.png) no-repeat;
}

/* Sprite */
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-checkbox {
    width: 26px;
    height: 22px;
    background-position: -51px -10px;
}

.sprite-facebook-icon {
    width: 10px;
    height: 19px;
    background-position: -10px -52px;
}

.sprite-star {
    width: 21px;
    height: 17px;
    background-position: -40px -52px;
}

.sprite-twitter-icon {
    width: 17px;
    height: 15px;
    background-position: -97px -10px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -97px -45px;
}
